[2019-09-24 19:21] izzyreal opened #1 "Use addMidiInputDeviceCallback"

[2020-03-01 07:35] izzyreal opened #2 "Graceful handling of missing resource files"
At the moment vMPC2000XL crashes without giving information to the user when one of the resource files is missing. We need to do a check for all the resources that result in this kind of behaviour and do a graceful shutdown after displaying which files are missing.

[2020-04-14 21:54] izzyreal opened #3 "Mono audio input on Mac doesn't work"
Built-in microphone doesn't work on Mac, probably because it is mono.

[2020-04-15 15:29] izzyreal commented on #3
Resolved

[2020-04-15 15:29] #3 closed

[2020-04-17 05:34] izzyreal opened #4 "Mouse clicks don't check currently pressed keys"
The buttons for `0` up to `9` are currently not responsive to mouse clicks. The rectangles for them are defined in `ButtonControl` but they are not referred to in the `rects` map that `PluginEditor` uses to route events.

Additionally these buttons were never added to `mpc::Hardware::buttonLabels`, and that needs to be done too.

Finally `PluginEditor` has been maintaining its own version of `butt

[2020-04-19 18:35] izzyreal opened #5 "Drag and drop sample loading"
Drag WAV or SND files onto a pad. Sounds cool, but where will the samples be stored?

[2020-04-26 06:11] izzyreal opened #6 "Plugin not detected in Logic Pro X"
AU validation succeeds, yet the plugin is not found. The problem may be in the warning that `auval` produces:
[code]
[auval.txt](https://github.com/izzyreal/vmpc-juce/files/4534721/auval.txt)

[2020-04-28 16:57] izzyreal opened #7 "iOS version"
Initial research shows that a binary can easily be produced that actually runs. There are some graphical issues:

* Disclaimer fills screen and doesn't disappear. When disabling the disclaimer in the code the main GUI actually shows up.
* But the DATA wheel, slider, LCD screen rec gain and main volume knobs are displaced
And
* There's no way to interact with it without a keyboard

[2020-05-07 18:26] izzyreal opened #8 "[Plugin] Extra click required to grab focus"
In Ableton Live when we click on the plugin editor window that is already open right after opening it, we have to click twice in order to get keyboard focus.

[2020-05-09 08:01] izzyreal opened #10 "Ableton Live AU remove and undo crash"
When the AU plugin is added and removed and the user pressed undo to get the instance back, Ableton Live crashes.

[2020-05-09 12:18] izzyreal commented on #6
Resolved in c79c2544fd8c6934d647975bfab04cc0932b69d1

[2020-05-09 12:18] #6 closed

[2020-05-10 13:36] dromer opened #11 "plugin-compatibility-matrix: Linux"
So, just a quick test in jack on linux: with the native VST2 in Carla I see 2 channels input and 10 channels output.

When I play a sample (ie. a 16bit 44.1khz file from disk) it is played over the stereo outputs. Assigning it to a pad it can either be panned over the stereo outputs, or to any of the 8 single channel output expansions (or both at the same time).

Seems to work great.

In the compa

[2020-05-10 13:44] dromer commented on #11
The standalone application is not working so well however.

In alsa I think that only stereo in/out works, the sound is terribly crackly though.
If I try to connect the output in jack the standalone application crashes.

[2020-05-10 15:14] izzyreal commented on #11
Reply to VST2/Carla: Nice it's working that well. As to the outputs, you mean 2x stereo because MAIN + HEADPHONES? 8x MONO is a possibility, but so far I've approached it from a stereo pair perspective. I may have to revisit that.

Reply to standalone: I haven't tried it extensively in Linux yet. So I still don't know with what settings/drivers it works best. I suspect best results with Jack. If y

[2020-05-10 15:31] dromer commented on #11
Oh, no I meant 1x stereo in and 1x stereo out. and 8x mono output.
That's how the mpc designates the routings in the mixer no?

I get either sound (with panning controls) over the stereo output (channels 1 and 2) or I can route to the external channels 1-8.

[edit: actually by default it routs to the extra outputs in pairs, but only with a mono sample it automatically pics a single output channel

[2020-05-10 16:03] izzyreal commented on #11
Yes, if you have a stereo sample assigned to a pad, that pad's mixer channel will assign to individual outputs in pairs 1/2, 3/4, 5/6 and 7/8. For mono it's 1 - 8 individually. So it does both. Maybe I can offer mono channels that are duplicates of the stereo ones or vice versa.

[2020-05-10 19:29] dromer commented on #11
Well in jack I just see 10 output channels, of which the first 2 correspond to the Stereo Main.
I just didn't realize that for stereo samples the outputs of the expansion board are automatically combined :)

(I actually have an IB208P in my S2000, but I never used it with stereo samples. don't know if the S2000 does the same)

[2020-05-10 19:38] izzyreal commented on #11
The expansion board in my MPC2000XL comes from an S2000 :) I would not be surprised if it does the same.

[2020-06-07 10:32] izzyreal opened #12 "No audio input in some scenarios"
Sergio Frias reports that vMPC2000XL standalone on his Windows 10 machine has just silence on the audio inputs. When wrapping the plugin in Tone2 NanoHost everything's working fine, same for when running the plugin in Reaper.

Currently no clear indication as to root cause. A possible one is https://docs.juce.com/master/tutorial_audio_bus_layouts.html

Let's create a debug executable that logs bus

[2020-06-08 18:56] izzyreal commented on #8
This can be resolved by inserting `TopLevelWindow::getTopLevelWindow(0)->setWantsKeyboardFocus(false)` into the Editor's constructor.

This will be part of v0.2.0 release.

[2020-06-13 09:59] izzyreal opened #13 "Custom standalone app"
So far vMPC2000XL has relied on the default `juce_StandaloneFilterWindow.h` and `juce_StandaloneFilterApp.cpp` of JUCE.

To get more control over keyboard focus, and over cosmetic aspects, let's shift to a custom implementation of said source files.

For this ticket we don't actually customize any functionality, we just copy those files into our project's `Source` dir and make sure it is used for

[2020-06-23 17:42] izzyreal commented on #13
Resolved in e49ccca87b5fb212224835d2bd9cbaec0c7ab9eb

[2020-06-23 17:42] #13 closed

[2020-06-23 17:48] izzyreal commented on #12
Turned out to be related to a recent JUCE upgrade where the new `StandaloneFilterWindow` doesn't have a way to tweak the `shouldMuteInput` field. The only workaround I found was:
[code]
A permanent solution was found by slightly customizing `StandaloneFilterWindow`, as is resolved in 8c61c6dc5f0424c4b71ace669751841efda543b6.

[2020-06-23 17:48] #12 closed

[2020-07-03 18:26] izzyreal opened #14 "Partial focus"
Sometimes vMPC2000XL has focus, we can move the cursor and turn the DATA wheel with +/-, SHIFT is also registered correctly judging by the DATA wheel increments, but SHIFT + 3 yields no screen change.

[2020-11-11 22:26] izzyreal opened #15 "Animated buttons"

[2020-12-16 08:53] izzyreal opened #16 "Some WAV files don't drag-and-drop load"
Reported by Strahinja Drakulic/Despot Strahinjic (same person).
Reported provided some WAV files in private.

Find out why the WAV files don't load
Add a popup explaining why there was an error when such an error takes place.

[2021-01-16 10:45] izzyreal opened #17 "Raw keyboard input"
Would be nice to have raw keyboard input support, game-engine style. This would pave the road to internationalization and user-configurable keyboard keyboard mapping.

[2021-01-16 10:48] izzyreal commented on #17
An experiment with SDL2 on MacOS has been done in the following branch.
https://github.com/izzyreal/vmpc-juce/tree/sdl

It makes use of JUCE's native window handle, which is passed to SDL2. It kinda works, but most pushes/releases are gobbled up by JUCE.

Investigate whether we can let JUCE ignore all key events in its main event loop.

[2021-01-16 10:55] izzyreal commented on #17
An experiment with adding a `rawKeyCode` field to `juce_KeyPress.cpp` has been done on the following branch:
https://github.com/izzyreal/JUCE/tree/raw-keycode

By the time some native event is mapped to a `KeyPress`, already some filtering has been done -- mainly modifier keys do not result in a `KeyPress`. Not sure if this is a JUCE thing or a MacOS thing or a combination. Either way it seems to

[2021-01-27 22:06] izzyreal opened #18 "No sound in FruityLoops"
Reported by Son Ray Burns.

Sequencer does not start running, no metronome sound is produced.

[2021-01-30 12:20] mxmilkiib opened #19 "LV2 plugin version?"
Hi! I'm wondering if you would consider an [LV2](lv2plug.in/) [plugin](https://github.com/lv2/lv2/wiki) version? There is a well enough maintained [fork of JUCE](https://github.com/DISTRHO/juce) by @falktx that supplies LV2 as a target that has been used for various projects and LV2 ports already.

[2021-01-30 15:35] izzyreal commented on #19
Hey @mxmilkiib, I can try to build it. Can you check your URL of falkTX's fork? I'm getting a 404. Maybe you mean this? https://github.com/DISTRHO/JUCE

[2021-01-30 16:07] mxmilkiib commented on #19
You are right, I need to delete that url from my autocomplete!

[2021-01-30 19:09] izzyreal commented on #19
Do you know where I can find documentation? Is JUCE's CMake API supported or do I need to use the Projucer?

[2021-01-30 21:20] falkTX commented on #19
Neither of those are supported.
I have interest on adding support for them, but I dont use neither cmake or ProJucer, so I would need some guidance.

[2021-01-30 21:24] izzyreal commented on #19
@falkTX Thanks for latching on. Maybe I can start by matching a common build pattern for your fork. I'll take a look at the examples, and I welcome any resources you may suggest.

[2021-01-30 21:27] dromer commented on #19
@izzyreal as I had suggested before have a look at https://github.com/DISTRHO/PawPaw

That should become a very good resource for doing cross-platform builds.
(moving to git submodels instead of conan packages would simplify things greatly as well)

[2021-01-30 21:36] izzyreal commented on #19
PawPaw and the DISTRHO JUCE fork both look interesting, but without docs it'll be difficult to attempt to build for LV2.

[2021-01-30 21:38] falkTX commented on #19
@dromer PawPaw will do nothing to help with LV2 wrapper. That is a step still far away.

And PawPaw was just announced, making it work for a few more plugins (plus Carla Plugin Host) has priority over making it more 3rd-party-dev friendly.

[2021-01-30 21:43] falkTX commented on #19
I think the easiest path is to add a new export option in ProJucer.
You can look at https://github.com/DISTRHO/juce/blob/main/modules/juce_audio_plugin_client/LV2/juce_LV2_Wrapper.cpp#L17 to see what options are available to set.

Additionally, JucePlugin_LV2URI is required, which is basically the global ID of the plugin (as a string)

[2021-01-30 21:46] izzyreal commented on #19
Ok, I'll keep it in mind, I might give it a shot. I'll also ask on the JUCE Discord channel if anyone has compiled to LV2.

[2021-01-30 21:48] falkTX commented on #19
Worth noting that official JUCE devs are not willing to help in any way.
One could say even against it... at least business-wise.
So you might find some friction there.

[2021-01-30 21:52] izzyreal commented on #19
Thanks for the heads-up. If there's no community support available, it would be cool to at some point dig into making it work myself.

[2021-01-30 21:58] dromer commented on #19
You can always come join #lad on irc.freenode.net to talk audio dev and ask for suggestions.

[2021-02-11 05:32] KottV commented on #19
It's quite easy to build LV2 version with cmake. For example: https://github.com/Chowdhury-DSP/ChowMatrix/
But this projects use conan. I'm not familiar with that. When I've tried **conan install ./conanfile.py** I throws this:
[code]

[2021-02-11 07:24] izzyreal commented on #19
@KottV Cool that you're attempting an LV2 build!

The JUCE package that Conan is looking for there comes from a small remote that I maintain, which you add manually like this:
[code]

[2021-02-14 20:54] izzyreal commented on #18
Fixed in 0.3.0.X

[2021-02-14 20:54] #18 closed

[2021-02-14 20:55] izzyreal commented on #5
Implemented in v0.2.0

[2021-02-14 20:55] #5 closed

[2021-02-14 22:47] KottV commented on #19
thnx, a little progress, but no luck yet
I guess the compiler version mismatch:
[code]

[2021-02-15 06:54] izzyreal commented on #19
@KottV Use
[code]

[2021-02-16 11:28] KottV commented on #19
Thnx, the next step :)

[code]
      |

[2021-02-16 16:10] izzyreal commented on #19
I forgot that it's been a while that I pushed the `moduru`, `ctoot` and `mpc` packages to Bintray, so you're currently attempting to build against obsolete sources.

I just pushed the latest `master` for each of these. Can you `rm -rf ~/.conan/data/moduru` and the same for `ctoot` and `mpc`, then try `conan install conanfile.py --build missing` again?

[2021-02-16 16:28] dromer commented on #19
I still think it makes 100x more sense to do this like most other projects and just use `.gitmodules` for these dependencies :#

[2021-02-16 18:13] izzyreal commented on #19
@dromer I think you may be right, but I'd like to keep learning about Conan for now. Maybe a `.gitmodules` flow can co-exist? Feel free to start a fork, and I'm happy to help out where I can.

[2021-02-28 07:51] izzyreal commented on #17
Raw key events have been implemented for Windows, MacOS and Linux in this fork/branch https://github.com/izzyreal/JUCE/tree/raw-key-events-3

This branch is now used in https://github.com/izzyreal/juce-conan/blob/main/conanfile.py

This implementation is used starting from
https://github.com/izzyreal/vmpc-juce/commit/0f9cd99472a88de428d35721cdb4d0133bdad0b9 in `vmpc-juce`
https://github.com/izzyre

[2021-02-28 07:51] #17 closed

[2021-02-28 07:52] izzyreal commented on #14
Should be fixed by https://github.com/izzyreal/vmpc-juce/issues/17

[2021-02-28 07:52] #14 closed

[2021-03-03 05:00] KottV commented on #19
Well, I've built dependencies (was need to disable tests due compile errors), but still have bunch of errors compiling vmpc-juce.
What is Linux distro where it should build?
[errs.txt.gz](https://github.com/izzyreal/vmpc-juce/files/6073672/errs.txt.gz)

[2021-03-03 06:44] izzyreal commented on #19
@KottV So far I've built it on Arch, Ubuntu and Debian. I also did some successful builds in Raspbian without JUCE, with Cairo and SDL2.

Taking one occurrence of each error category from your logs, we can see:

1.
[code]

2.
[code]

2. should be resolved by pulling latest master on `moduru`, `ctoot`, `mpc` and `vmpc-juce`.

As to 1., I don't fully understand where this error is coming from. Can y

[2021-03-03 16:22] mxmilkiib commented on #19
Might I recommend both #lad and #lv2 on freenode

[2021-03-07 10:56] izzyreal commented on #19
@KottV I'm trying to hang out on #lad regularly, hope to see you there soon.

[2021-03-07 18:21] izzyreal commented on #19
I manage to create a first working (in Carla) build for Ubuntu 20 ARM64 based on https://github.com/Chowdhury-DSP/DISTRHO-JUCE/tree/distrho-fork-lv2.

I pulled that branch into https://github.com/izzyreal/JUCE/tree/raw-key-events-3. Then I disabled auto-ttl generation in `extras/Build/CMake/JUCEUtils.cmake` because it somehow fails when combined with my JUCE Conan wrapper.

Tests of `mpc` are brok

[2021-03-07 20:13] dromer commented on #19
How does step `2.` work? it complains there is no `conanfile.py` in this repo.

[2021-03-07 20:29] izzyreal commented on #19
@dromer Sorry, my mistake. Should be `juce-conan` instead of `JUCE`.

[2021-03-07 20:35] dromer commented on #19
Where is this `juce-conan` directory?

[2021-03-07 20:45] izzyreal commented on #19
@dromer It is created by the correct version of step 1. You can `rm -rf JUCE`.

[2021-03-07 20:46] dromer commented on #19
Ah, derp :D

[2021-03-07 20:49] izzyreal commented on #19
@dromer It was private, can you try again?

[2021-03-07 20:55] dromer commented on #19
Ok! Now the only issue I have (next to `run()` not respecting my `PATH`) that the final command fails:
`CMake Error: Could not create named generator Ninja Multi-Config`

[2021-03-08 21:10] izzyreal commented on #19
Some binaries are available here:
https://github.com/izzyreal/vmpc-binaries/raw/master/linux/ubuntu1804/VMPC2000XL-Ubuntu1804-x64-LV2.zip
https://github.com/izzyreal/vmpc-binaries/raw/master/linux/ubuntu20/VMPC2000XL-Ubuntu20-ARM64-LV2.zip

They assume you have placed the `vMPC` directory from https://github.com/izzyreal/vmpc-home-dir in in your `~`.

[2021-03-08 21:35] dromer commented on #19
First test-run seems to work alright! (amd64)

Now to rtfm on how an mpc2000 works again :#

[2021-03-11 11:21] izzyreal commented on #19
Precompiled binaries are now listed on [izmar.nl in the Downloads section](http://izmar.nl/index.php/downloads).

I've added a fix for auto-generating ttl files. If you want to build VMPC2000XL yourself, the below should work.

1. If you've built VMPC2000XL before, `rm -rf ~/.conan/data/juce`
2. If you haven't built it before, `conan remote add bintray-izmar https://api.bintray.com/conan/izmar/izm

[2021-03-11 12:04] KottV commented on #19
This is great news!
(I apologize for not being active on this topic.)

[2021-04-25 13:45] izzyreal opened #24 "User guide"
There should be an online user guide covering all relevant aspects for a user, that are not covered by https://www.platinumaudiolab.com/free_stuff/manuals/Akai/akai_mpc2000xl_manual.pdf

Details should be available about
* The virtual filesystem
* The location of the virtual filesystem, log file, config files, required resources
* What to do when the application won't start
* More troubleshooting

[2021-05-13 15:27] izzyreal commented on #16
The problem is that the files are not 16 bit.

[2021-05-13 15:27] #16 closed

[2021-09-26 14:10] izzyreal commented on #24
Resolved by https://vmpcdocs.izmar.nl

[2021-09-26 14:11] #24 closed

[2021-09-26 14:13] izzyreal commented on #19
Resolved by https://izmar.nl/index.php/release-candidates and https://github.com/izzyreal/vmpc-binaries/tree/master/linux

[2021-09-26 14:13] #19 closed

[2021-09-26 14:27] dromer commented on #19
Er, that repo only contains x86 for ubuntu 18.04 and and arm64 for ubuntu 20.04

Also: why put binaries in git? please don't. this is what build artifacts are for!

[2021-09-26 14:40] izzyreal commented on #19
What should it be according to you?

Feel free to contribute by improving things. I can give you permissions where required.

[2021-09-26 14:58] dromer commented on #19
Well it's not x86 it's x86_64 (also known as amd64) and how relevant are separate 20.04-only arm64 builds? (they seem a bit outdated I think?)

Thing with putting binary files in git is that git is meant for source (text) files. A binary file mutation means the history of the repository grows enormously on each release. This is what build artifacts are for, as a way to distribute files in your rep

[2021-09-26 15:00] falkTX commented on #19
if you push binaries to the repo, they will be there forever as objects (for the git history).
this makes the size of the repo grow exponentially.

See https://github.com/jatinchowdhury18/KlonCentaur/issues/35 for the exact same discussion.
basically, placing binary files on a git repo is a terrible practice.
please try to avoid it, thanks.

[2021-09-26 15:08] dromer commented on #19
In this case it's an entire project/repository dedicated to spreading binary files. This should not be needed at all.
You can upload the artifacts right here on this project with each release.
(or of course have your CI pipeline, once there is one, take care of it)

[2021-09-26 15:22] izzyreal opened #27 "Store Linux and Windows binaries outside a git repo"

[2021-09-26 15:41] izzyreal commented on #19
* For the binaries in the `vmpc-binaries` git repo I've created https://github.com/izzyreal/vmpc-juce/issues/27
* I have removed the ARM64 builds from `vmpc-binaries` and references to it from https://izmar.nl
* I have renamed instances of x86 to x86_64

[2021-09-27 05:11] izzyreal commented on #10
Turns out this issue can be reproduced by closing the plugin UI without even removing it, and pressing Cmd.

[2021-09-29 04:48] izzyreal commented on #10
The problem was that the `NSEventMaskFlagsChanged` event monitor was never removed. Resolved in https://github.com/izzyreal/JUCE/commit/d706541e45b7ff4ad8065d3b3036b689b6e0d81e

[2021-09-29 04:48] #10 closed

[2021-10-01 05:07] izzyreal commented on #2
Resource files are now baked into the binary.

[2021-10-01 05:07] #2 closed

[2021-10-01 05:09] izzyreal commented on #4
This aspect has been resolved.

[2021-10-25 21:00] HenryDawson123 opened #28 "AU and VST not deployed to /Library/Plug-Ins/"
When installing the program on mac with the provided installer, the program will install as expected but the plug in files do not.

[2021-10-26 21:14] #28 closed, assigned to nobody

[2021-10-30 13:31] izzyreal opened #29 "Drag 'n drop crashes the application"
Probably since the project moved to https://github.com/gulrak/filesystem

Also this:
[code]
should be caught.

[2021-10-30 14:08] izzyreal commented on #29
Resolved in 2e7d0cc03119149480d73ab6395b000078edcfe4

[2021-10-30 14:08] #29 closed

[2021-10-30 14:16] izzyreal opened #30 "No demo data in Linux"
On MacOS/Win VMPC2000XL comes with an installer that has the demo data packaged inside of it. Then it copies it to some AppData kinda folder, and every time VMPC2000XL starts it checks if you have the demo data in your `~/Documents/VMPC2000XL/...`. If you don't, it will place a fresh copy from AppData in there.

Is this kind of behaviour desirable for Linux users? If yes, how can this be implement

[2021-10-30 15:16] izzyreal opened #31 "LV2 resize is broken"

[2021-11-06 15:03] izzyreal commented on #27
Resolved by https://izmar.jfrog.io/ui/repos/tree/General/vmpc2000xl

[2021-11-06 15:03] #27 closed

[2021-11-27 14:20] izzyreal commented on #31
Resolved by https://github.com/izzyreal/JUCE/commit/9a8d836937f77b7060163312bb8997a7e3124f0c

[2021-11-27 14:20] #31 closed

[2021-12-16 06:20] izzyreal opened #32 "Android version"

[2022-01-14 18:46] izzyreal opened #34 "Light up pads during drag 'n drop"
When hovering over a pad while dragging a WAV or SND file, it should light up.

[2022-01-27 22:16] izzyreal commented on #34
Resolved by https://github.com/izzyreal/vmpc-juce/pull/35

[2022-01-27 22:16] #34 closed

[2022-01-27 22:19] izzyreal commented on #4
Everything was already resolved.

[2022-01-27 22:19] #4 closed

[2022-01-27 22:21] izzyreal commented on #1
Closing this for now, as I'm not sure what the advantage would be.

[2022-01-27 22:21] #1 closed

[2022-01-27 22:36] izzyreal commented on #8
The above solution does not produce the desired results. I think Ableton Live doesn't direct keyboard input to the plugin at all until you've actually clicked inside the window, so it seems like this issue can't be resolved. Feel free to reopen if you have other suggestions.

[2022-01-27 22:36] #8 closed

[2022-02-13 13:42] izzyreal opened #36 "No need for libwebkit2gtk4 on Ubuntu"
Set `JUCE_WEB_BROWSER=0`

[2022-03-09 10:03] hellocatfood opened #37 "Build error (Failed requirement 'rapidjson/1.1.0@bincrafters/stable')"
Followed the build instructions in the readme and was given the following error
[code]

Tried compiling on Ubuntu 21:10

[2022-03-15 18:22] izzyreal commented on #37
@hellocatfood What's the output when you run the below in your terminal?
[code]

[2022-03-15 22:25] hellocatfood commented on #37
running that command gives these results
[code]

trying to compile after that still gives the same error
[code]

[2022-03-16 05:54] izzyreal commented on #37
Which version of Conan do you have installed?
What's in your `~/.conan/remotes.json`?

[2022-03-16 10:18] hellocatfood commented on #37
Yes, had conan installed when building

Conan version 1.46.0

contents of `~/.conan/remotes.json`
[code]

[2022-03-16 17:40] izzyreal commented on #37
I'm trying to figure out a surgical fix for this. If you don't mind a non-surgical fix: uninstall Conan, remove `~/.conan` and reinstall Conan should do the trick.

[2022-03-16 22:36] hellocatfood commented on #37
Sadly still the same result after following the instructions on the readme (though confusingly it says to clone vmpc-juce but then cd into vmpc-workspace)

[2022-03-17 06:30] izzyreal commented on #37
Thanks for notifying me of the typo in the readme. Can you try with these instructions here instead: https://github.com/izzyreal/vmpc-workspace

I haven't kept `vmpc-juce`'s build instructions up-to-date.

[2022-03-17 06:52] izzyreal commented on #37
Thanks for notifying me of the typo, I've corrected it. So you still get the below error?
[code]

[2022-03-21 18:20] izzyreal commented on #37
Starting to look better. I think from now on it's about missing Ubuntu packages:
```sudo apt install libudisks2-dev libx11-dev libfreetype6-dev libcurl4-openssl-dev libasound2-dev libjack-jackd2-dev libwebkit2gtk-4.0-dev```
After that just run `conan build ..` again from `vmpc-juce/build`.

Let me know if you want more info/background about all this.

[2022-03-21 18:46] hellocatfood commented on #37
Seems to be progressing more now! but again failed

[code]

[2022-03-21 19:02] izzyreal commented on #37
I had to update the Catch2 version in some of my packages. Please `rm -rf ~/.conan/data/akaifat ~/.conan/data/ctoot ~/.conan/data/mpc` and  `rm rf ./vmpc-juce/build/*` as well (not sure where it's located so run from the correct dir). Then run `conan install .. --build missing && conan build ..` again from `vmpc-juce/build`.

[2022-03-21 19:04] izzyreal commented on #37
I had to update the Catch2 version in some of my packages. Please `rm -rf ~/.conan/data/akaifat ~/.conan/data/ctoot ~/.conan/data/mpc` and  `rm rf ./vmpc-juce/build/*` as well (not sure where it's located so run from the correct dir). Then run `conan install .. --build missing && conan build ..` again from `vmpc-juce/build`.

[2022-03-22 07:47] hellocatfood commented on #37
still getting the same error after deleting and rebuilding

[2022-03-22 19:11] izzyreal commented on #37
I just tried it on Ubuntu 21 with GCC 11.2 like you have, and I encountered a bunch of errors. Everything should be fixed now. Do a `git pull` in `vmpc-juce`, `rm rf ~/.conan/data`, `rm -rf vmpc-juce/build/*` and `conan install .. --build missing && conan build ..`. You should now have a standalone and LV2 build.

[2022-03-22 20:02] hellocatfood commented on #37
Just to be on the safe side I started again from scratch and.... It works!!

![Screenshot from 2022-03-22 19-56-42](https://user-images.githubusercontent.com/151947/159565420-9cd4e3a2-6925-41fa-8e1f-2beeac29c6e7.png)

[2022-03-22 20:21] hellocatfood commented on #37
Glad I could help bring attention to it. All is good now so it can be closed.

btw I'm mostly using an mpc live II so will be interesting to see how the workflow compares to this mpc!

[2022-03-22 20:21] #37 closed

[2022-04-13 17:26] izzyreal opened #38 "macOS AUv3 GarageBand/Logic Pro UI mess"
I'm guessing it's related to the fact that said hosts also allow resizing.

<img width="635" alt="image" src="https://user-images.githubusercontent.com/3707432/163236350-7970e52e-3733-4319-bc58-625b2d3548a9.png">

[2022-04-13 17:29] izzyreal opened #39 "iOS demo data bundling"
Figure out a way to bundle demo data into the iOS archive.

[2022-04-13 18:55] izzyreal opened #40 "iOS AUv3 and Application do not share the same documents"

[2022-04-24 06:47] izzyreal commented on #7
An initial attempt at an iOS build is now supported by the `master` branch. Run `python build-workspace.py xcode-ios` to generate the iOS Xcode project.

1. Disclaimer is now visible
2. Component displacement is only present when running AUv3 on macOS
3. Raw keyboard input is supported

[2022-04-24 06:47] #7 closed

[2022-05-09 03:45] michaelmon1203 opened #42 "Import 24bit wav audio causing crash"
Hi, really love your work, just want to report an issue, VMPC crashes every time I import 24bit wav audio file like this. I import file through drag and drop from my Finder, Mac Big Sur.

[Snares565.WAV.zip](https://github.com/izzyreal/vmpc-juce/files/8648619/Snares565.WAV.zip)

[2022-05-09 05:47] michaelmon1203 commented on #42
I just found the solution, need to set convert WAV on, otherwise it will crash. I think this option should be on by default, people might think it is buggy and quit using vmpc.

[2022-05-09 06:21] izzyreal commented on #42
Thanks for reporting this @michaelmon1203. I am able to reproduce the issue. The intended behaviour when "Auto-convert WAVs" is disabled here https://vmpcdocs.izmar.nl/vmpc_specific_settings.html#auto-convert-wavs, is that a prompt will ask what you want to do.

I'll take a look at this bug soon and report back here.

[2022-05-09 08:51] michaelmon1203 opened #43 "MacOS Crash on Band B/C/D pad pressing"
Mac Big Sur Standalone

1. switch to bank b/c/d
2. hit keypad for pad pressing

crash sometimes, haven't import any sound on bank b/c/d yet.

[2022-05-09 08:56] michaelmon1203 opened #44 "MacOS Import sound to bank b/c/d but still onto bank a"
Mac Big Sur Standalone

Import sound to bank b/c/d but still onto bank a

[2022-05-09 09:06] michaelmon1203 opened #45 "MacOS display contrast can't be saved, always jump back to what it was."
Mac Big Sur Standalone

1. Change tap count to 3
2. Change display contrast to high
3. close vmpc
4. open vmpc, continue session

Display contrast not saved

[2022-05-09 09:07] michaelmon1203 opened #46 "Tap count and display contrast can't be saved, always jump back to status before."
Mac Big Sur Standalone

[2022-05-09 09:09] michaelmon1203 opened #47 "MacOS can't save as type Copy Operating System"
Mac Big Sur Standalone

1. shift+enter
2. nav to save type [Copy Operating System]
3. hit Do It

no response.

[2022-05-09 09:10] #46 closed

[2022-05-13 19:44] izzyreal opened #48 "Full level and some other leds are not working"

[2022-05-14 06:33] izzyreal commented on #48
Resolved in 5249fe1af0aa8530e75e7e293b7c3687614b2db1

[2022-05-14 06:33] #48 closed

[2022-05-14 12:26] izzyreal commented on #42
@michaelmon1203 I've published v0.4.4 which includes a fix for this issue. See https://izmar.nl/downloads

[2022-05-14 16:14] izzyreal commented on #42
@michaelmon1203 Apologies, I had to roll back 0.4.4... I introduced a bug in the audio engine. I hope to fix it within a week.

[2022-05-14 17:29] izzyreal commented on #42
@michaelmon1203 Ok it's fixed. 0.4.4 is published and it should fix this issue.

[2022-05-15 06:06] izzyreal opened #49 "Make VMPC2000XL skinnable"
The user should be able to provide a directory from where the files in `https://github.com/izzyreal/vmpc-juce/tree/master/resources/img` are optionally provided.

[2022-05-15 08:36] izzyreal commented on #43
This one should also be fixed for 0.4.4. Please confirm.

[2022-05-15 12:06] izzyreal commented on #44
Resolved in ccbdaa7d9229554ba15a9a5a4d2046d0d21b6a2f. I'll publish a v0.4.5 in the near future including this, but if you need it earlier just let me know.

[2022-05-15 12:06] #44 closed

[2022-05-15 12:07] izzyreal commented on #43
Resolved in https://github.com/izzyreal/mpc/commit/472a9ea28728758dfa2acff275db2d90b270614d

[2022-05-15 12:07] #43 closed

[2022-05-15 12:08] izzyreal commented on #42
Resolved in https://github.com/izzyreal/mpc/commit/844ef07f9cd39cadc5308b9de8517db76505ecc9

[2022-05-15 12:08] #42 closed

[2022-05-15 12:30] izzyreal commented on #45
"Others" screen persistence fixed here https://github.com/izzyreal/mpc/commit/acb94e0fe2a9522589a1c7b08154b66cfbc3e7dc
Contrast rendering fixed here 429f4975ca086874128a002d202d7b269e9e0786
Will be part of v0.4.5 but if you need it earlier just let me know.

[2022-05-15 12:30] #45 closed

[2022-05-15 12:34] izzyreal commented on #47
Considering VMPC2000XL doesn't have an operating system of its own, I have removed the option altogether here https://github.com/izzyreal/mpc/commit/1165eaa59a46d88cc2bb6b6155b1cd9d2efbeae6

[2022-05-15 12:34] #47 closed

[2022-05-15 12:34] izzyreal commented on #47
@michaelmon1203 Many thanks for reporting all these issues!

[2022-05-17 03:45] michaelmon1203 commented on #43
Tried it, did you block B/C/D bank lol

[2022-05-17 03:49] michaelmon1203 commented on #47
any method we can talk outside of GitHub? I'm running a YouTube channel called 「playpm」, planning to make a shout out video for your work, let's get in touch!

[2022-05-17 12:59] izzyreal commented on #47
@michaelmon1203 That's awesome! You can message me at info at izmar dot nl

[2022-05-17 13:14] izzyreal commented on #43
I really tried to fix it 😅 I just realized the correct fix is part of the commit I linked ("Resolved in ..."), but it's not part of the v0.4.4 build. Looking into this as we speak.

[2022-05-17 13:40] izzyreal commented on #47
It's an email addess. I have no IG.

[2022-05-17 13:41] izzyreal commented on #47
![image](https://user-images.githubusercontent.com/3707432/168824729-fff63b3b-0ffa-43a7-9b9b-d459e7c1a82c.png)

[2022-05-17 13:44] izzyreal commented on #43
Updated the installer, now it should really really work 😄 https://github.com/izzyreal/vmpc-juce/releases/download/v0.4.4/VMPC2000XL-Installer-Intel-M1.pkg

[2022-05-30 21:35] theModernSurrealist opened #50 "Large Error Block upon building with conan"
Hey guys,

I have gotten stuck compiling VMPC-JUCE with VS2022 on Windows 11 x64.
The standalone binary work fine on my system, but I wanted to poke around the source code, and make some adjustments for fun.
On the final stage of building, the command "conan build ..", I get a hefty error block - https://pastebin.com/4R3YdS1V

Yeah. Apparently the problem is with juce_audio_plugin_client_Standalon

[2022-05-31 01:34] izzyreal commented on #50
@theModernSurrealist Thanks for reporting this issue. Which process are you using to build?

For what you describe I'd recommend to clone https://github.com/izzyreal/vmpc-workspace and run `python build-workspace.py vs2022`. Then you get a VS project in the `build` dir which allows editing of all the source code.

[2022-05-31 08:00] theModernSurrealist commented on #50
@izzyreal I am using MSVC and following the instructions in the README (conan install .. --build missing and conan build..) if that is what you mean by process.
I will try vmpc-workspace now and see if that will work.

Thanks for the fast response!

[2022-05-31 13:05] theModernSurrealist commented on #50
I also have another question  - is there a .jucer file I could use to modify the GUI a bit easier? If so, where can I download it?

[2022-05-31 14:18] izzyreal commented on #50
The project is fully CMake-based, I'm afraid, i.e. no Projucer involved. But I'd be happy to answer any questions you may have about the GUI code.

[2022-05-31 15:36] theModernSurrealist commented on #50
@izzyreal I am working on an audio sampler box based on your software - poor mans MPC.
It needs to run on linux, plus the extra keyboard controls meant that I can essentially recreate the MPC workflow without the limitations it had by emulating keypresses via push buttons.

I wanted to run your software on this device, but I only wanted the screen portion as everything else could be controlled via

[2022-05-31 15:47] izzyreal commented on #50
Yes. In fact, the project architecture is designed for such cases. The core of VMPC2000XL is `mpc`: https://github.com/izzyreal/mpc

It is a static library that does nothing on its own. It needs a GUI implementation. `vmpc-juce` is one such GUI implementation, but I have already experimented with 2 others: https://github.com/izzyreal/vmpc-unreal-plugin and https://github.com/izzyreal/vmpc

For you

[2022-05-31 15:56] izzyreal commented on #50
I should also mention that depending on your requirements there may be way simpler solutions! But if it's the real MPC2000XL flow and functionality that you need, `mpc` definitely fits the bill.

[2022-05-31 16:59] theModernSurrealist commented on #50
Wow, I really did not expect such an offer!
Of course, any help at all would be extremely appreciated.

I understand what you mean. I am fairly competent in C++, but I am clueless when it comes to JUCE, hence my struggle with vmpc-juce. Ideally I am looking for the MPC workflow because I want to emulate the good times I had with my dad on the old MPC2000XL as well as bring back some of the more ha

[2022-05-31 19:53] izzyreal commented on #50
`vmpc` is heavily unmaintained I'm afraid. I wouldn't spend too much time on getting it to build. You could browse the code using for example Sublime, or check some of the commit diffs on GitHub directly.

Simpler solutions: Depends on your requirements. From what I hear, I don't think simpler solutions would yield a close match. But if all you need is to trigger some samples, for example based on

[2022-05-31 19:58] izzyreal commented on #50
"VMPC-JUCE is the GUI portion, and is not necessary for MPC to run." True, but `mpc` does need _some_ (G)UI implementation -- something that instantiates the main entity `mpc::Mpc` and directs host system user input to it.

The only entry points (executable targets) in the `mpc` project are its unit tests. There are not many, but it does give some indication of how one would start out writing a (G

[2022-05-31 20:19] theModernSurrealist commented on #50
Again, thanks for the speedy reply.

I understand now - thanks for the clarification.
I will begin to study the unit tests, and work on implementing a GUI.
I will probably do it in Ncurses because it will allow for faster speeds (no window manager), it being written in C++ and ease-of-use seeing as I am only looking to use the screen portion of the VMPC.

Also, how could I go about linking the Mpc

[2022-05-31 21:21] izzyreal commented on #50
You're more than welcome! Would love to see this come alive. I think it will be a somewhat bumpy ride, as you are the first besides myself to try this. Since I have intimate knowledge of the code base, I have a pretty clear idea of what code of `mpc` is meant to interact with its consumer (i.e. a GUI implementation), and what code is for internal use only. But I consider what you want to do a very

[2022-06-01 13:39] izzyreal opened #51 "Check Reaper VST3 compatibility"
A report came in that the VST3 doesn't work in Reaper on Windows. Let's verify.

[2022-06-01 15:45] izzyreal commented on #50
I've scrambled our email addresses, since this is a public thread that scrapers can pick up on. I'll keep an eye out for your message.

[2022-06-01 15:56] theModernSurrealist commented on #50
Right! My apologies. Looking forward to speak soon.

[2022-06-01 15:56] #50 closed

[2022-07-03 15:18] izzyreal commented on #36
Is already present in https://github.com/izzyreal/vmpc-juce/blob/429f4975ca086874128a002d202d7b269e9e0786/src/CMakeLists.txt#L92

[2022-07-03 15:18] #36 closed

[2022-07-24 10:27] izzyreal commented on #11
Pretty old ticket, sorry for taking so long and also I'm the messenger of bad news: https://github.com/izzyreal/vmpc-juce/blob/master/plugin-compatibility-matrix.md

tl;dr The only plugin/host combo that works well (for me on Arch at least) is LV2 in Carla.

With regard to the standalone version, I think this one is pretty stable now. Let me know if that's not the case for you.

[2022-07-24 10:27] #11 closed

[2022-07-24 11:06] dromer commented on #11
There are many other LV2 hosts, though. At least Reaper, Mixxx and soon Bespoke Synth (JUCE7 base).

BTW if/when you are moving to JUCE7 it would be nice if you enable LV2 for all supported platforms.

[2022-07-24 11:43] izzyreal commented on #11
Reaper, Bitwig, Qtractor and Mixxx empty stubs are added to the matrix. Not sure when I'm going to test and fill them in though.

I agree it would be nice to have LV2 for all platforms that support LV2, but I think at the moment LV2 in JUCE is only supported on Linux. I could be wrong though.

[2022-07-24 11:59] dromer commented on #11
Very wrong, it's supported for Windows, MacOS and Linux. :)

[2022-07-24 12:14] izzyreal commented on #11
On Windows I get an LV2 target in the build definition, but when trying to build it I hit https://github.com/juce-framework/JUCE/blob/4c43bf429e90690cb1f05b7c8a044cc9f5a59e7d/modules/juce_core/native/juce_BasicNativeHeaders.h#L123

On macOS I don't get an LV2 target in the build definition.

So if JUCE supports LV2 on those platforms it's not clear to me how to make use of it.

Thanks, I have amen

[2022-09-15 06:26] izzyreal opened #54 "Native window borders"

[2022-10-01 10:33] izzyreal opened #56 "Code style"
Settle on indentation. See if `.editorconfig` or something similar exists that Xcode, CLion and Visual Studio all respect.